adafruit-ampy==1.1.0
click==8.0.1
pyserial==3.5
python-dotenv==0.17.1
adafruit-ampy==1.1.0
bitstring==3.1.7
cffi==1.14.5
click==8.0.1
cryptography==3.4.7
ecdsa==0.17.0
esptool==3.1
pycparser==2.20
pyserial==3.5
python-dotenv==0.17.1
reedsolo==1.5.4
six==1.16.0
